<MudDialog>
    <DialogContent>
        <div style="width: 600px; " class="px-2 pt-2">
            <MudText Class="px-2 pb-3" Typo="Typo.h4">System prompt</MudText>
            <div style ="background-color: var(--mud-palette-background);">
                <MudTextField @bind-Value="PromptText" AutoGrow Lines="15" MaxLines="15" FullWidth="true" Underline="false" Class="px-2" />
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Default" Variant="Variant.Text" OnClick="LoadDefault">Load default</MudButton>
        <MudButton Color="Color.Info" Variant="Variant.Text" OnClick="Submit">OK</MudButton>
        @* <MudButton Color="Color.Secondary" Variant="Variant.Text" OnClick="Cancel">Cancel</MudButton> *@
    </DialogActions>
</MudDialog>
@code {
    [Inject] private IUserService UserService { get; set; } = null!;
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public string PromptText { get; set; } = "";
    
    private void Submit()
    {
        MudDialog.Close(DialogResult.Ok(PromptText));
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void LoadDefault()
    {
        PromptText = $"You are an AI chatbot named ChatUiT, created a UiT and available for use by employees and students. You are talking to {UserService.Name}. Help the user with their request. Keep your answers short and consice. Format the response using markdown.";
    }
}