@page "/admin"

<div style="height:48px;">

</div>

<h3>Admin area</h3>

@if (!isAdmin)
{
    <p>You are not authorized to view this page.</p>
}
else
{
    <p>Welcome to the admin area.</p>

    <MudButton OnClick="ToggleLoading">Loading</MudButton>

    <MudButton OnClick="ToggleWaiting">Waiting</MudButton>
}

@code {
    [Inject] private IAuthUserService Auth { get; set; } = null!;
    [Inject] private IUserService UserService { get; set; } = null!;
    [Inject] private NavigationManager Nav { get; set; } = null!;

    private bool isAdmin;



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isAdmin = await Auth.TestInRole(["Admin"]);
            if (!isAdmin)
            {
                Nav.NavigateTo("/");
            }
            StateHasChanged();
        }
    }

    private void ToggleLoading()
    {
        UserService.Loading = !UserService.Loading;
        UserService.RaiseUpdate();
    }

    private void ToggleWaiting()
    {
        UserService.Waiting = !UserService.Waiting;
        UserService.RaiseUpdate();
    }
}
