@page "/test"
@using Azure.AI.OpenAI
@using ChatUiT2.Services
@using MongoDB.Bson.Serialization
@using OpenAI.Chat

<div style="height: 48px;" />

<MudText Typo="Typo.h6">Testing purposes ONLY!</MudText>

<MudButton StartIcon="@Icons.Material.Filled.Science" FullWidth OnClick="Testing">Testing</MudButton>



<span>@debug_text</span>

@code {
    [Inject] private LocalStorageService LocalStorageService { get; set; } = null!;
    [Inject] private IUserService UserService { get; set; } = null!;

    private string debug_text = "";

    public async void Testing()
    {
        var chats = await LocalStorageService.GetLocalConversations();

        Console.WriteLine(chats[0].Messages[0].Content);

        foreach(var chat in chats)
        {
            UserService.AddChat(chat);
        }
    }
}
