@page "/test"
@using ChatUiT2.Services
@using MongoDB.Bson.Serialization

<div style="height: 48px;">

</div>

<MudText Typo="Typo.h6">Testing purposes ONLY!</MudText>

<MudButton StartIcon="@Icons.Material.Filled.Science" FullWidth OnClick="Testing">Testing</MudButton>

<span>@debug_text</span>

@code {
    [Inject] private TestService testService { get; set; } = null!;

    string? debug_text = "Debug text";

    public async Task Testing()
    {
        bool result = await testService._authUserService.TestInRole(["Default", "Admin", "User"]);
        string? name = await testService._authUserService.GetName();

        debug_text = $"Name: {name}, Result: {result}";

        StateHasChanged();
    }
}
