@page "/test"
@using ChatUiT2.Services
@using MongoDB.Bson.Serialization

<MudText Typo="Typo.h6">Testing purposes ONLY!</MudText>

<MudButton StartIcon="@Icons.Material.Filled.Science" FullWidth OnClick="Testing">Testing</MudButton>

<span>@debug_text</span>

@code {
    [Inject] private TestService testService { get; set; } = null!;

    string? debug_text = "Debug text";

    public async Task Testing()
    {
        WorkItemChat chat = new WorkItemChat();
        chat.Messages.Add(new ChatMessage{Content = "Hello", Role = ChatMessageRole.User});
        var model = testService._configService.GetModels()[0];
        var endpoint = testService._configService.GetEndpoint(model.Deployment);

        var response = await AzureOpenAIService.GetResponse(chat, model, endpoint);
        debug_text = response;
        StateHasChanged();
    }
}
