@page "/test"
@using ChatUiT2.Services
@using MongoDB.Bson.Serialization

<MudText Typo="Typo.h6">Testing purposes ONLY!</MudText>

<MudButton StartIcon="@Icons.Material.Filled.Science" FullWidth OnClick="Testing">Testing</MudButton>

<span>@debug_text</span>
<span>@Convert.ToBase64String(debug_bytes)</span>

@code {
    [Inject] private TestService testService { get; set; } = null!;

    string? debug_text = "Debug text";
    byte[] debug_bytes = [];

    public async Task Testing()
    {
        var response = await GroqService.GetResponse(testService._configuration["Groq"]!);
        debug_text = response;
        StateHasChanged();
    }
}
