<div style="display: flex; flex-direction: column; height: 100%;">
    <div style="flex: 0 1 20%;"></div>
    <div style="flex: 0 0 auto; display: flex; align-items: flex-start; justify-content: center;" class="flex-grow-1">
        <MudCard Class="pa-4" Outlined Style="background-color: transparent; border-radius: 20px;">
            <MudStack >
                <div style="display: flex; justify-content: center;">
                    <MudText Typo="Typo.h1">ChatUiT</MudText>

                </div>
                <MudDivider />
                <MudText Typo="Typo.body1">Remember to verify any information given by an AI model. </MudText>
                <MudStack Row>
                    <MudText Typo="Typo.body1">
                        To read more about AI and how to use it, <a href="https://en.uit.no/om/kunstigintelligens" target="_blank">click here.</a>
                    </MudText>
                    <a href="https://en.uit.no/om/kunstigintelligens" target="_blank" style="text-decoration: none;">
                        <MudIcon Icon="@Icons.Material.Filled.OpenInNew" Size="Size.Small" />
                    </a>
                </MudStack>
                <MudDivider />
                <a href="https://uit.topdesk.net/tas/public/ssp/content/detail/service?unid=5a3379b4e20e4a72bd4903f58e214ca1" target="_blank" style="text-decoration: none;">
                <MudAlert Severity="Severity.Info">
                    New version! Read more here :)
                </MudAlert>
                </a>
                <MudText Typo="Typo.body1">
                    Get old chats from ChatUiT by clicking Import old chats.
                </MudText>
                <MudDivider />
                <MudStack Row>
                    <MudText Typo="Typo.h4" Class="pt-3">Model:</MudText>
                    <MudSpacer />
                    <ModelSelect AnchorRight />
                </MudStack>
                @* <MudDivider /> *@
                @* <MudStack Row>
                    <MudText Typo="Typo.h4" Class="pt-3">Workflow:</MudText>
                    <MudSpacer />
                    <ModelSelect AnchorRight />
                </MudStack> *@
            </MudStack>
        </MudCard>
    </div>
</div>



@code {
    [Inject] private IUserService UserService { get; set; } = null!;
    [Inject] private ISnackbar Snackbar { get; set; } = null!;
    [Inject] private IUpdateService UpdateService { get; set; } = null!;



    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            UpdateService.OnChatUpdate += StateHasChanged;
            UpdateService.OnGlobalUpdate += StateHasChanged;
        }
    }

    public void Dispose()
    {
        UpdateService.OnChatUpdate -= StateHasChanged;
        UpdateService.OnGlobalUpdate -= StateHasChanged;
    }
}