<h3>ChatView</h3>

<div>
    @if (((WorkItemChat)UserService.CurrentWorkItem).Messages.Count == 0)
    {
        <NewChatView />
    }
    else
    {
        <ChatConversationView />
    }
</div>

<ChatInputView />




@code {
    [Inject] private UserService UserService { get; set; } = null!;

    protected override void OnInitialized()
    {
        UserService.OnUpdate += StateHasChanged;
        base.OnInitialized();
    }

    public void Dispose()
    {
        UserService.OnUpdate -= StateHasChanged;
    }

}
