<div>
    @foreach (var message in UserService.CurrentChat.Messages)
    {
        <ChatMessageView Message="message" />
    }
</div>

@code {
    [Inject] private UserService UserService { get; set; } = null!;

    
    protected override void OnInitialized()
    {
        UserService.OnUpdate += StateHasChanged;
        base.OnInitialized();
    }

    public void Dispose()
    {
        UserService.OnUpdate -= StateHasChanged;
    }

}