<div id="chatContainer">
    @foreach (var message in UserService.CurrentChat.Messages)
    {
        <ChatMessageView Message="message" />
    }
</div>


@code {
    [Inject] private IUserService UserService { get; set; } = null!;
    [Inject] private IJSRuntime JS { get; set; } = null!;


    protected override void OnInitialized()
    {
        UserService.OnUpdate += StateHasChanged;
    }

    public void Dispose()
    {
        UserService.OnUpdate -= StateHasChanged;
    }

}