<h3>ChatConversationView</h3>
@foreach (var message in ((WorkItemChat)UserService.CurrentWorkItem).Messages)
{
    <div>
        <span>@message.Role.ToString()</span>
        <span>@message.Created</span>
        <p>@message.Content</p>
    </div>

}

@code {
    [Inject] private UserService UserService { get; set; } = null!;

    protected override void OnInitialized()
    {
        UserService.OnUpdate += StateHasChanged;
        base.OnInitialized();
    }

    public void Dispose()
    {
        UserService.OnUpdate -= StateHasChanged;
    }

}